.success-message {
  border: 2px solid green;
  border-radius: 4px;
  color: green;
  background: #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.error-message {
  border: 2px solid red;
  border-radius: 4px;
  color: red;
  background: #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.blog-list-item {
  border: 1px solid black;
  padding: 5px;
  margin: 3px;
  box-sizing: border-box;
}

.form-label {
  margin-top: 10px;
}

#submit-blog-form{
  margin-top: 10px
}